
/* General */
html {
  font-family: Verdana, sans-serif;
  font-size: 12pt;
  color: #000;
  background: #eee;
}
img {
  border: none;
}
h1 {
  background: url('../graphics/header_logo.png') no-repeat;
  margin:0;
  padding:0 18px 0 48px;
  font-weight: bold;
  color: #680148;
}
h2 {
  margin:5px 0 0 0;
  padding:0;
  font-size: 16pt;
  font-weight: bold;
  color: #0099CC;
}
h3 {
  font-size: 12pt;
  font-weight: normal;
  color: #680148;
}
input {
  height: 20px;
  border: 1px #666 solid;
}
textarea {
  resize: none;
}
ol {
  margin: 0;
  padding: 0 0 0 30px;
}
#ie-center {
  margin: 10px auto 0 auto;
  width: 990px;
  display: none;
}
#ie-shadow {
  top: 10px;
  display: block;
  position: absolute;
  width: 968px;
  height: 615px;
  z-index: -1;
  background: #ccc;
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10', MakeShadow='true', ShadowOpacity='0.40');
}
#wrapper {
  position: relative;
  background: #fff url('../graphics/step1_background.jpg') no-repeat center right;
  width: 960px;
  margin: 10px auto 0 auto;
  padding: 5px;
  -moz-box-shadow: 3px 0 8px #ccc, -3px 0 8px #ccc, 0 3px 8px #ccc, 0 -3px 8px #ccc;
  -webkit-box-shadow: 3px 0 8px #ccc, -3px 0 8px #ccc, 0 3px 8px #ccc, 0 -3px 8px #ccc;
  box-shadow: 3px 0 8px #ccc, -3px 0 8px #ccc, 0 3px 8px #ccc, 0 -3px 8px #ccc;
}
#edit-submit, #leave-message {
  display: none;
}
#top-wrapper {
  padding: 17px 20px 0 20px;
  margin:0;
  background: url('../graphics/top_background.png') repeat-x;
  height: 72px;
}
#body-wrapper {
  height: 370px;
  margin: 0 0 20px 0;
  padding: 10px 10px 0 30px;
}
#body-wrapper p {
  padding: 0 400px 0 0;
}
#step-1, #step-2, #step-3, #step-4, #step-5, #step-6, #step-7 {
  display: none;
}
#step-1 ul {
  margin: 0;
}
p.no-margin-bottom {
  margin-bottom: 0;
}
p.no-margin-top {
  margin-top: 0;
}
#buttons-wrapper {
  height: 30px;
  margin: 10px 20px 0 20px;
  padding: 0 0 10px 0;
}
#buttons-right {
  float: right;
}
#bottom-wrapper {
  text-align: center;
  padding: 20px;
  height: 49px;
  background: url('../graphics/bottom_background.png') repeat-x;
}
#welcome {
  display: none;
}

#logo {
  float: right;
  height: 45px;
  width: 100px;
  overflow: hidden;
  text-align: right;
}

/* Help */
#help {
  margin: 16px 4px 4px;
  height:36px;
  float: right;
}
#help h3 {
  display: none;
  float: left;
  margin: 9px;
}

/* Progress */
#progress {
  width: 380px;
  margin: 4px auto 0 auto;
}
#progress p {
  float: left;
  padding: 8px 0 0 0;
  font-size: 10pt;
  color: #888;
}
#progress img {
  padding: 0 14px 0 14px;
}

/* Buttons */
#buttons-wrapper a {
  text-decoration: none;
}
#button-next, #button-save, #button-previous, #button-finish, #button-perodic-plan {
  display: none;
}
.button-left-right, .button-right-left, .button-left-left, .button-right-right {
  height: 18px;
  vertical-align: bottom;
  display: inline-block;
  *display: inline;
  zoom:1;
}
.button-left-right, .button-right-left {
  padding: 12px 0 12px 49px;
}
.button-left-left, .button-right-right {
  padding: 12px 24px 12px 0;
}
.button-left-left {
  background: url('../graphics/button_left_left.png') no-repeat;
}
.button-right-left {
  background: url('../graphics/button_right_left.png') no-repeat;
}
.button-left-right {
  background: url('../graphics/button_left_right.png') no-repeat;
}
.button-right-right {
  background: url('../graphics/button_right_right.png') no-repeat;
}
.button-left-center, .button-right-center {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: #fff;
  display: inline-block;
  *display: inline;
  zoom:1;
}
.button-left-center {
  background: url('../graphics/button_center.png') repeat-x;
  padding: 12px 6px 12px 12px;
}
.button-right-center {
  background: url('../graphics/button_center.png') repeat-x;
  padding: 12px 12px 12px 6px;
}

/* Scrollbars */
.jScrollPaneTrack {
  background: #ccc;
}
.jScrollPaneDrag {
  background: #aaa;
}
/* Tips */
.tip-trigger, #tip-trigger-table-1, #tip-trigger-table-2 {
  color: #0099CC;
  font-weight: bold;
}
.tip {
  min-height: 30px;
  display: none;
  position: absolute;
  border: 3px solid #fff;  
  color: #fff;
  width: 400px;
  padding: 5px;
  z-index: 4;
  background: #0099CC url('../graphics/tip_background.png');
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 0 3px #aaa, -2px 0 3px #aaa, 0 2px 3px #aaa, 0 -2px 3px #aaa;
  -webkit-box-shadow: 2px 0 3px #aaa, -2px 0 3px #aaa, 0 2px 3px #aaa, 0 -2px 3px #aaa;
  box-shadow: 2px 0 3px #aaa, -2px 0 3px #aaa, 0 2px 3px #aaa, 0 -2px 3px #aaa;
}
.tip-pointer {
  position: absolute;
  display: none;
  z-index: 5;
}

/* Errors */
.error {
  background: url('../graphics/error.png') no-repeat center left;
  padding: 0 0 0 25px;
  display: none;
  position: absolute;
  color: #c00;
  font-size: 11pt;
  font-weight: bold;
}
#plan-name-error {
  left: 420px;
}
#plan-type-error {
  left: 420px;
}
#exercise-plan-error, #plan-objective-error, #exercise-plan-number-error {
  position: relative;
  margin: 0 0 10px 0;
}
#exercise-plan-number-error {
  background: none;
  padding:0;
  margin: 0 0 20px 0;
}

/* Step 2 */
#plan-name {
  width: 370px;
  padding: 7px;
  background: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-top: 20px;
}
#edit-plan-name {
  width: 365px;
}
.plan-type {
  background: #eee url('../graphics/radio_button.png') no-repeat center right;
  margin: 5px 0 5px 0;
  padding: 8px 7px 0 7px;
  height: 28px;
  width: 370px;
  cursor:pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.plan-type input {
  display: none;
}
.plan-type.checked {
  background: #e4cedb url('../graphics/radio_button_selected.png') no-repeat center right;
}

/* Step 3 */
table.advanced {
  border-collapse:collapse;
  margin: 1px 0 40px 0;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;  
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
table.advanced th {
  -webkit-box-shadow: 0 -3px 5px #aaa;
  -moz-box-shadow: 0 -3px 5px #aaa;
  box-shadow: 0 -3px 5px #aaa;
}
table.advanced td.last {
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-box-shadow: 3px 0 5px #aaa, -3px 0 5px #aaa, 0 3px 5px #aaa;
  -webkit-box-shadow: 3px 0 5px #aaa, -3px 0 5px #aaa, 0 3px 5px #aaa;
  box-shadow: 3px 0 5px #aaa, -3px 0 5px #aaa, 0 3px 5px #aaa;
}
table.advanced th.no-border-right {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 3px 0 5px #aaa, 0 -3px 5px #aaa;
  -moz-box-shadow: 3px 0 5px #aaa, 0 -3px 5px #aaa;
  box-shadow: 3px 0 5px #aaa, 0 -3px 5px #aaa;
}
#exercise-plans {
  width: 500px;
}
#exercise-plans tr.blank td {
  -webkit-box-shadow: 3px 0 5px #aaa, -3px 0 5px #aaa, 0 1px 0 #eee;
  -moz-box-shadow: 3px 0 5px #aaa, -3px 0 5px #aaa, 0 1px 0 #eee;
  box-shadow: 3px 0 5px #aaa, -3px 0 5px #aaa, 0 1px 0 #eee;
}
#exercise-plans th.no-border-left {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-box-shadow: -3px 0 5px #aaa, 0 -3px 5px #aaa;
  -moz-box-shadow: -3px 0 5px #aaa, 0 -3px 5px #aaa;
  box-shadow: -3px 0 5px #aaa, 0 -3px 5px #aaa;
}
table.advanced td.no-border-right {
  -webkit-box-shadow: 3px 0 5px #aaa;
  -moz-box-shadow: 3px 0 5px #aaa;
  box-shadow: 3px 0 5px #aaa;
}
table.advanced td.no-border-left, table.advanced th.no-border-left {
  -webkit-box-shadow: -3px 0 5px #aaa;
  -moz-box-shadow: -3px 0 5px #aaa;
  box-shadow: -3px 0 5px #aaa;
}
#perodic-plan input {
  width: 100px;
}
#example-plan-wrapper {
  width: 890px;
  height: 350px;
  margin: 10px 5px 10px 10px;
  text-align: center;
}

#perodic-plan td.no-border-left input {
  width: 30px;
}
table.advanced td, table.advanced th{
  background: #eee;
  border: 1px solid;
  padding: 5px;
  margin:0;
}
#perodic-plan td.remove-week, #exercise-plans td.remove-plan {
  background: none;
  border:none;
  padding:0;
}
#perodic-plan td.remove-week img, #exercise-plans td.remove-plan img {
  padding:0;
  cursor: pointer;
  -webkit-box-shadow: 0 -3px 5px #aaa, 0 3px 5px #aaa, 3px 0 5px #aaa;
  -moz-box-shadow: 0 -3px 5px #aaa, 0 3px 5px #aaa, 3px 0 5px #aaa;
  box-shadow: 0 -3px 5px #aaa, 0 3px 5px #aaa, 3px 0 5px #aaa;
}
#perodic-plan input.form-text{
  margin: 0 0 5px 0;
}
a.add-exercise-field, a.remove-exercise-field {
  font-size: 12px;
  color: #000;
}
a.remove-exercise-field {
  display: none;
}
.hidden {
  display: none;
}
.plans-edit {
  width: 160px;
}
#exercise-plans img:hover {
  cursor: pointer
}
#perodic-plan {
  position:relative;
  z-index:1;
}

/* Step 5 */
#exercise-plan {
  position:relative;
  z-index:1;
  border-collapse:collapse;
  background: #eee;
  margin:1px 0 10px 0;
  width: 905px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-box-shadow: 3px 0 5px #aaa, -3px 0 5px #aaa, 0 3px 5px #aaa, 0 -3px 5px #aaa;
  -webkit-box-shadow: 3px 0 5px #aaa, -3px 0 5px #aaa, 0 3px 5px #aaa, 0 -3px 5px #aaa;
  box-shadow: 3px 0 5px #aaa, -3px 0 5px #aaa, 0 3px 5px #aaa, 0 -3px 5px #aaa;
}
#exercise-plan td, #exercise-plan th {
  border: 1px #000 solid;
  padding: 5px;
}
#exercise-plan th, #exercise-plans th, #perodic-plan th {
  border-top: none;
}
#wrapper td.no-border-left, #wrapper th.no-border-left {
  border-left: none;
}
#wrapper td.no-border-right, #wrapper th.no-border-right {
  border-right: none;
}
#wrapper td.last {
  height: 26px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
#exercise-plan-objective-tip-trigger, #plan-objective-tip-trigger, #edit-exercise-plan-name-wrapper, #edit-exercise-plan-date-wrapper, #edit-exercise-plan-objective-wrapper, #edit-plan-objective-wrapper, #exercise-plan-name-tip-trigger {
  display: inline;
  padding: 8px 2px 7px 5px;
}
#edit-exercise-plan-name-wrapper label, #edit-exercise-plan-date-wrapper label, #edit-exercise-plan-objective-wrapper label, #edit-plan-objective-wrapper label {
  color: #680148;
}
#table-top {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  padding: 8px 12px 3px 0;
  height: 28px;
  background: #eee;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -moz-box-shadow: 3px 0 5px #aaa, -3px 0 5px #aaa, 0 1px 0 #000, 0 -3px 5px #aaa;
  -webkit-box-shadow: 3px 0 5px #aaa, -3px 0 5px #aaa, 0 1px 0 #000, 0 -3px 5px #aaa;
  box-shadow: 3px 0 5px #aaa, -3px 0 5px #aaa, 0 1px 0 #000, 0 -3px 5px #aaa;
  z-index: 2;
}
#table-top .tip {
  white-space: normal;
}
#exercise-plan-name-tip-trigger {
  padding: 10px 2px 7px 0px;
}
/*#plan-objective-tip-trigger {
  width: 580px;
}*/
#exercise-plan td.exercise-move, #exercise-plan td.exercise-amount {
  border-right: none;
}
#exercise-plan td.exercise-move, #exercise-plan td.exercise-remove {
  border-left: none;
}
#exercise-plan .exercise-move, #exercise-plan .exercise-remove, #exercise-plan td.exercise-info {
  width: 64px;
}
#exercise-plan td.exercise-amount, #exercise-plan td.exercise-why {
  width: 187px;
}
#exercise-plan td.exercise-image {
  width: 110px;
}
span.big-button {
  cursor: pointer;
  display: inline;
  background: url('../graphics/pick_exercise_background.png') repeat-x center center;
  padding: 10px 20px 10px 20px;
  border: 1px #aaa solid;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
span.big-button span {
  padding: 0 0 0 10px;
}
tr.blank td, #exercise-plan tr.blank td {
  text-align: center;
  padding: 20px;
}
.template-row {
  display: none;
}
.loading {
  display: none;
  text-align: center;
}
.center {
  top: 150px;
  position: absolute;
  width: 900px;
  text-align: center;
}
.pick-exercises, .add-week, .add-plan{
  color: #000;
  padding: 6px;
}

/* Step 7 */
#exercise-picker {
  margin: 10px 0 0 0;
  height: 340px;
}
.exercise {
  -moz-box-shadow: 2px 0 4px #ddd, -2px 0 4px #ddd, 0 2px 4px #ddd, 0 -2px 4px #ddd;
  -webkit-box-shadow: 2px 0 4px #ddd, -2px 0 4px #ddd, 0 2px 4px #ddd, 0 -2px 4px #ddd;
  box-shadow: 2px 0 4px #ddd, -2px 0 4px #ddd, 0 2px 4px #ddd, 0 -2px 4px #ddd;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 8px 4px 8px 4px;
  border: 1px #aaa solid;
  float: left;
  background: #eee;
  text-align: center;
}
.exercise-title {
  overflow: hidden;
}
.exercise td {
  padding:0px;
  margin:0;
}
.exercise th {
  overflow: hidden;
  font-weight: normal;
  font-size: 10pt;
}
.filters {
  width: 600px;
  float: right;
  margin: 0px 30px 0 0;
}
.filter {
  float: left;
  padding: 0 5px 0 5px;
}

.exercise-select {
  text-decoration: none;
  color: #000;
}

#lightbox-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000; 
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 98;
}
#lightbox-content {
  display: none;
  position: absolute;
  top:100px;
  left:0;
  width: 900px;
  height: 350px;
  background: #eee;
  z-index: 99;
  overflow: hidden;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#close-wrapper {
  display: none;
  position: absolute;
  top: 450px;
  left: 0;
  width: 900px;
  height: 50px;
  background: #eee;
  z-index: 100;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
#close-wrapper a {
  left: 750px;
  top: 0;
  position: absolute;
  text-decoration: none;
}

#exercise-details {
  border-collapse: collapse;
  width: 900px;
}
#exercise-details th {
  height: 20px;
  text-align: left;
}
#exercise-details td, #exercise-details th {
  border: 1px #666 solid;
  vertical-align: top;
  padding: 5px;
}
#exercise-details td.no_border_left, #exercise-details th.no_border_left {
  border-left: none;
  width: 300px;
  padding: 5px 5px 5px 10px;
}
#exercise-details td.no_border_left {
  height: 240px;
}
#exercise-details td.no_border_right, #exercise-details th.no_border_right {
  border-right: none;
  width: 240px;
  padding: 5px 10px 5px 5px;
}
#exercise-illustration {
  height: 240px;
  width: 300px;
  overflow: hidden;
}
h4 {
  margin:0;
  padding: 10px 0 10px 0;
  color: #680148;
  text-align: center;
  font-size: 14pt;
}

.top-fade, .bottom-fade {
  display: none;
  z-index: 50;
  position: absolute;
}
.bottom-fade {
  top: 454px;
}

#exercise-dummy {
  width: 100px;
  height: 20px;
  clear: both;
}

.muscle {
  position: absolute;
}

.help-text {
  width: 840px;
  height: 300px;
  padding: 0 20px 0 20px;
  margin: 0 10px 0 10px;
}

.photo {
  position: absolute;
  top: 0px;
  left: 760px;
  width: 200px;
  height: 400px;
  color: #fff;
}
.messages {
  padding: 10px;
  display: none;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  border: 3px solid #fff; 
  background: #00BB00 url('../graphics/tip_background.png');
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 0 3px #aaa, -2px 0 3px #aaa, 0 2px 3px #aaa, 0 -2px 3px #aaa;
  -webkit-box-shadow: 2px 0 3px #aaa, -2px 0 3px #aaa, 0 2px 3px #aaa, 0 -2px 3px #aaa;
  box-shadow: 2px 0 3px #aaa, -2px 0 3px #aaa, 0 2px 3px #aaa, 0 -2px 3px #aaa;
}
.messages.status {
  background: #00BB00;
}
.messages.warning {
  background: #FFAA10;
}
.messages.error {
  background: #BB0000;
  /*background: none;*/
  font-weight: normal;
  font-size: 12pt;
}